<div class='login-form'>

  <div class='brand'>
    <span class='icon-lightbulb-o icon-logo'></span>
    <span class='title'>Ithaka</span>
  </div>

  <form {{action 'authenticate' on='submit'}}>
    <label for="identification">Login</label>
    {{input value=identification placeholder='Enter Login'}}
    <label for="password">Password</label>
    {{input value=password placeholder='Enter Password' type='password'}}
    <button type="submit">Login</button>
  </form>
</div>
