<div class='projects'>
  <div class='heading'>
    <h2>Projects home</h2>
    <div class='content'>
      <p>Listed here are all the projects available</p>
      {{#link-to 'projects.new'}}
        Create new projects
      {{/link-to}}
    </div>
  </div>

  <div class='widgets'>
    {{#if model}}
      {{#each project in model}}
        <div class='project'>
          {{#link-to 'project.index' project}}
            <h2>{{project.name}}</h2>
          {{/link-to}}
          <div class='content'>
            <p>{{project.description}}</p>
            <p>{{project.ideas.length}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
