<div class='new-project'>
  <div class='widgets'>

    <div class='project'>
      <h2>New Project</h2>
      <form class='content' {{action 'save' on='submit'}}>
        {{partial 'shared/form-errors'}}
        {{input value=name}}
        {{textarea value=description}}
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
