<div class='show-idea'>
  <div class='heading'>
    <h2>{{controller.model.idea.name}}</h2>
    <div class='content'>
      {{controller.model.idea.description}}
    </div>
  </div>

  <div class='comments'>
    {{#each controller.model.comments}}
      <div class='comment'>
        <div class='content'>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="search">
    <h2>Search and Sort</h2>
  </span>
</div>
