<div class='show-idea'>
  <div class='heading'>
    <h2>{{model.idea.name}}</h2>
    <div class='content'>
      {{model.idea.description}}
    </div>
  </div>

  <div class='comments'>
    <h2>Discussion</h2>
    {{#each model.idea.comments}}
      <div class='comment'>
        <div class='content'>
          {{{comment}}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="search">
    <h2>Search and Sort</h2>
  </div>
</div>
