{{side-bar projects=projects current_user=current_user.user}}
<main>
  {{nav-bar}}
  <div class='fluid-container'>
    {{outlet}}
  </div>
  <a href='#' {{action 'invalidateSession' on='click'}}> Log Out</a>
</main>
